body {
  background-color:lightblue;
}

#follow_us {
  margin: auto;
  background-color:#3b5998;
  height:30px;
  width:190px;
  border-radius:5px;
  line-height:30px;
  margin-top:3em;
}
#follow_us img {
  height:20px;
  width:20px;
  vertical-align:center;
  padding-top:5px;
  float:left;
  margin-left:10px;
  margin-right:10px;
}

#follow_us p {
  color:#fff;
  font-family:open_sans_regular;
  font-size:.8em;
}

.main_text {
  color:#fff;
  font-family: 'source_sans_bold';
  text-align:center;
  text-shadow: 2px 2px 15px #666;
  font-size: 4em;
  margin-top:-.1em;
}

.secondary_text {
  color:#fff;
  font-family:open_sans_regular;
  text-align:center;
  font-size:1em;
  margin-top:+1em;
}

.little_text {
  color:#fff;
  font-family:open_sans_regular;
  text-align:center;
  font-size:.9em;
  margin-top:4em;
}

.message_box {
  margin:auto;
  width:370px;
  height:50px;
  margin-bottom:10px;
  border-radius:3px;
  color:#fff;
  font-family: 'source_sans_bold';
  padding:0px 10px;
  line-height:50px;
}

.message_success {
  background-color:#4BC97F;
}

.message_failure {
  background-color:#A30F0F;
}
#form {
  margin:auto;
  width:370px;
}

#form input[type='email'] {
  border-radius:2px;
  border: none;
  height:40px;
  width:250px;
  padding:0px 5px;
  font-family:open_sans_regular;
  color:#4A4A4A;
}

#form input[type='submit']{
  border-radius:2px;
  border: none;
  height:40px;
  width:100px;
  background-color:#FAF8A5;
  color:#f24e45;
  font-family: 'source_sans_bold';
}

#form input[type='submit']:hover{
  background-color:#FFFED1;
  cursor:pointer;
}

.facebook_link {
  text-decoration:none;
  color:inheret;
}

#follow_us :hover {
  background-color:#516DA8;
  border-radius:5px;
}
@font-face {
    font-family: 'source_sans_bold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_regular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre';
    src: url('fonts/librebaskerville-italic-webfont.eot');
    src: url('fonts/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/librebaskerville-italic-webfont.woff') format('woff'),
         url('fonts/librebaskerville-italic-webfont.ttf') format('truetype'),
         url('fonts/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.logo {
  text-align:center;
}



h1{
             font-size:25px;
             text-align: left;
             text-transform:capitalize;
             color:white;
         }
        .service-box{
            position: relative;
            overflow: hidden;
            margin-bottom:10px;
            perspective:1000px;
            -webkit-perspective:1000px;
        }
        .service-icon{
            width: 100%;
            height: 220px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
        }

        .service-content{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 220px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
            background-color: #474747;
            backface-visibility:hidden;
            transform-style: preserve-3d;
            -webkit-transform: translateY(110px) rotateX(-90deg);
            -moz-transform: translateY(110px) rotateX(-90deg);
            -ms-transform: translateY(110px) rotateX(-90deg);
            -o-transform: translateY(110px) rotateX(-90deg);
            transform: translateY(110px) rotateX(-90deg);
        }
        .service-box .service-icon .front-content{
            position: relative;
            top:80px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .service-box .service-icon .front-content i {
            font-size: 28px;
            color: #fff;
            font-weight: normal;
        }

        .service-box .service-icon .front-content h3 {
            font-size: 15px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        .service-box .service-content h3 {
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            margin-bottom:10px;
            text-transform: uppercase;
        }
        .service-box .service-content p {
            font-size: 13px;
            color: #b1b1b1;
            margin:0;
        }
        .yellow{background-color: #ffc000;}
        .orange{background-color: #fc7f0c;}
        .red{background-color: #e84b3a;}
        .grey{background-color: #474747;}
        .service-box:hover .service-icon{
            opacity: 0;
            -webkit-transform: translateY(-110px) rotateX(90deg);
            -moz-transform: translateY(-110px) rotateX(90deg);
            -ms-transform: translateY(-110px) rotateX(90deg);
            -o-transform: translateY(-110px) rotateX(90deg);
            transform: translateY(-110px) rotateX(90deg);
        }
        .service-box:hover .service-content {
            opacity: 1;
            -webkit-transform: rotateX(0);
            -moz-transform: rotateX(0);
            -ms-transform: rotateX(0);
            -o-transform: rotateX(0);
            transform: rotateX(0);
        }
